{{extend 'layout.html'}}
<div id='loginwrapper'>
<h1>Please Log In</h1>
<br />
{{=form}}
</div>
<style type="text/css">
.container {
    text-align: center;
}
table {
    margin: auto;
}
#loginwrapper {
    border: 1px solid #bbb;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:  0px 0px 10px 10px #ddd;
    box-shadow:  0px 0px 10px 10px #ddd;
}
h1 {
    color: #0069d6;
}

.w2p_fw {
    text-align: center;
}
</style>
